@font-face{
    font-family: Jakarta-display;
    font-weight: 400;
    src: url("./assets/fonts/PlusJakartaDisplay-Regular\ copy.otf");
}

@font-face{
    font-family: Jakarta-display;
    font-weight: 600;
    src: url("./assets/fonts/PlusJakartaDisplay-Medium\ copy.otf");
}

@font-face{
    font-family: Jakarta-display;
    font-weight: 800;
    src: url("./assets/fonts/PlusJakartaDisplay-Bold\ copy.otf");
}

@font-face{
    font-family: Jakarta-display;
    font-weight: 200;
    src: url("./assets/fonts/PlusJakartaDisplay-Light\ copy.otf");
}

@font-face{
    font-family: Jakarta-text;
    font-weight: 400;
    src: url("./assets/fonts/PlusJakartaText-Regular\ copy.otf");
}

@font-face{
    font-family: Jakarta-text;
    font-weight: 200;
    src: url("./assets/fonts/PlusJakartaText-Light\ copy.otf");
}

@font-face{
    font-family: Jakarta-text;
    font-weight: 600;
    src: url("./assets/fonts/PlusJakartaText-Bold\ copy.otf");
}